#test{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(194, 194, 194);
    width: fit-content;
}
body{
    margin: 20px;
    padding: 20px;
}
.headings{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
u{
    font-size: 25px;
}
p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}


.myContact{
font-size: 40px;
}
.center, th, td{
margin-left:auto;
margin-right: auto; 
padding: 10px;
border: 1px solid black;
border-collapse: collapse;
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;

}